* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cube-width-desktop: 300px;
  --cube-width-tablet: 200px;
  --cube-width-phone: 150px;
  --cube-width: var(--cube-width-desktop);
  --cube-color-1: #7d7d7d;
  --cube-color-2: #e6e6e6;
  --cube-shadow-color: #ffffff;
  --bg-color: #000000;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 100px;
  background: var(--bg-color);
}

.cube {
  position: relative;
  width: var(--cube-width);
  height: var(--cube-width);
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: rotate 10s linear infinite;
  &__sides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  &__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(
      180deg,
      var(--cube-color-1),
      var(--cube-color-2)
    );
    transform: rotateY(calc(90deg * var(--i)))
      translateZ(calc(var(--cube-width) / 2));
  }
  &__top,
  &__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--cube-width);
    height: var(--cube-width);
  }
  &__top {
    background-color: var(--cube-color-1);
    transform: rotateX(90deg) translateZ(calc(var(--cube-width) / 2));
  }
  &__shadow {
    background-color: var(--cube-shadow-color);
    transform: rotateX(90deg)
      translateZ(calc(var(--cube-width) / 100 * 70 * -1));
    filter: blur(25px);
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

@media (max-width: 992px) {
  :root {
    --cube-width: var(--cube-width-tablet);
  }
}

@media (max-width: 540px) {
  :root {
    --cube-width: var(--cube-width-phone);
  }
}
